<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel=/static/Favicon/apple-touch-icon-precomposed sizes=57x57 href=apple-touch-icon-57x57.png />
<link rel=/static/Favicon/apple-touch-icon-precomposed sizes=114x114 href=apple-touch-icon-114x114.png />
<link rel=/static/Favicon/apple-touch-icon-precomposed sizes=72x72 href=apple-touch-icon-72x72.png />
<link rel=/static/Favicon/apple-touch-icon-precomposed sizes=144x144 href=apple-touch-icon-144x144.png />
<link rel=/static/Favicon/apple-touch-icon-precomposed sizes=60x60 href=apple-touch-icon-60x60.png />
<link rel=/static/Favicon/apple-touch-icon-precomposed sizes=120x120 href=apple-touch-icon-120x120.png />
<link rel=/static/Favicon/apple-touch-icon-precomposed sizes=76x76 href=apple-touch-icon-76x76.png />
<link rel=/static/Favicon/apple-touch-icon-precomposed sizes=152x152 href=apple-touch-icon-152x152.png />
<link rel=/static/Favicon/icon type=image/png href=favicon-196x196.png sizes=196x196 />
<link rel=icon type=image/png href=/static/Favicon/favicon-96x96.png sizes=96x96 />
<link rel=icon type=image/png href=/static/Favicon/favicon-32x32.png sizes=32x32 />
<link rel=icon type=image/png href=/static/Favicon/favicon-16x16.png sizes=16x16 />
<link rel=icon type=image/png href=/static/Favicon/favicon-128.png sizes=128x128 />
<meta name=application-name content="&nbsp;"/>
<meta name=msapplication-TileColor content=#FFFFFF />
<meta name=msapplication-TileImage content=/static/Favicon/mstile-144x144.png />
<meta name=msapplication-square70x70logo content=/static/Favicon/mstile-70x70.png />
<meta name=msapplication-square150x150logo content=/static/Favicon/mstile-150x150.png />
<meta name=msapplication-wide310x150logo content=/static/Favicon/mstile-310x150.png />
<meta name=msapplication-square310x310logo content=/static/Favicon/mstile-310x310.png />
<link rel="stylesheet" href="/static/css/index.css">
<script type="text/javascript">
    if(!navigator.onLine){
        var s = document.createElement('script');
        s.src = 'static/lib/jquery-3.2.1.min.js';
        document.head.appendChild(s);
        var z = document.createElement('script');
        z.src = 'static/lib/semantic.min.js';
        document.head.appendChild(z);
        var b = document.createElement('link');
        b.setAttribute("rel","stylesheet");
        b.setAttribute("href","static/lib/semantic.min.css");
        document.head.appendChild(b);
        var a = document.createElement('link');
        a.rel = "stylesheet";
        a.href = "/static/lib/font-awesome.min.css"
        document.head.appendChild(a);
    }
</script>


<meta charset="utf-8">

<meta property="og:title" content="Nature Simulator">
<meta property="og:type" content="Nature Games">
<meta property="og:url" content="mythicalnature.com">

<meta name="description" content="Free nature games">
<meta name="keywords" content="games, miniclip, free online games, free games, online games, puzzle, nature, eco-system, enviornment, open-source, programming, html, css, Javascript, Jquery, bootstrap, help, programming help, tetris, free tetris, unity, game pc, free game download, arcade game, games, video game, video games, arcade games, pc games, music, nature music, music, enviornment, mobile games">
<meta name="author" content="Perelman">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>MythicalNature.com</title>

<!-- Favicon  -->
