<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/head.ejs %>
        <title></title>
    </head>
    <body>
        <% include ../partials/navbar.ejs %>

        <!--Page Contents-->
        <div class="pusher">
          <div class="ui inverted vertical masthead center aligned segment">
            <div class="ui container">
              <div class="ui large secondary inverted pointing menu">
                <a class="toc item"><i class="sidebar icon"></i></a><a class="active item" href="/">Home</a><a class="item" href="/games">Games</a><a class="item" href="/about">About</a>
              </div>
            </div>
            <div class="ui text container">
              <h1 class="ui inverted header">
                Mythicalnature.com
              </h1>
              <h2>
                Do whatever you want when you want to.
              </h2>
              <div class="ui huge primary button">
                Start playing<i class="right arrow icon"></i>
              </div>
            </div>
          </div>
    <% include ../partials/footer.ejs %>
    <% include ../partials/scripts.ejs %>
    </body>
</html>
